h1 {
    color:palevioletred;
    font-style: italic;
}
a{
    color: darkgoldenrod;
}
#construction{
    font-family:monospace;
}
body{
    background-image: url("../images/Sky.jpg");
    background-size: contain;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 100px;
}
#splash_page{
    background-color: seashell;
}
#license{
    background-color: lightpink;
}
#second{
    font-size:smaller;
}
.btn{
    background-color: palevioletred;
    font-size:smaller;
}
.accordion{
    background-color: seashell;
}

#description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: palevioletred;
}

h3{
    color: palevioletred;
    font-style: italic;
}

h4{
    color:palevioletred;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

#columns::first-letter{
    float:left;
    font-family:cursive;
    font-size:larger;
}

.text-muted{
    font-style: italic;
    color:teal;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
}