h1 {
    color:palevioletred;
}
#second { 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#third {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
}
#construction{
    font-family:monospace;
}
body{
    background-color:#ebd5b3;
    background-size: contain;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.splash_page{
    background-color: seashell;
    
}
#second{
    font-size:smaller;
}
.btn{
    background-color: palevioletred;
    font-size:smaller;
}
.accordion{
    background-color: seashell;
}
